<div class="announcement">
  <h2 id="{{ page.number | prepend: 'hw' | slugify }}">Homework {{ page.number }}: {{ page.title }}</h2>
  <span class="announcement-meta">
    {% if page.release and page.due %}
    {%- assign release_time = page.release | date: '%b %d, %l:%M %p' -%}
    {%- assign due_time = page.due | date: '%b %d, %l:%M %p' -%}

    Release: <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ release_time | date: '%Y-%m-%dT%H:%M:%S' }}&p1=747">
      {{ release_time }}
    </a> - Due: <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso={{ due_time | date: '%Y-%m-%dT%H:%M:%S' }}&p1=747">
      {{ due_time }}
    </a>
    {% endif %}
  </span>
  <div>
    {% if page.pdf and page.tex and page.word %}
    <ul>
      <li>
        Problems: [<a href="{{ page.pdf | absolute_url }}">PDF</a>]
      </li>
      <li>
        LaTeX template: [<a href="{{ page.tex | absolute_url }}">TeX</a>]
      </li>
      <li>
        Word Template: [<a href="{{ page.word | absolute_url }}">Word</a>]
      </li>
      {% if page.walkthrough %}
      <li>
        Walkthrough: [<a href="{{ page.walkthrough | absolute_url }}">YouTube</a>]
      </li>
      {% endif %}
      {% if page.solution %}
      <li>
        Solution: [<a href="{{ page.solution | absolute_url }}">Blackboard</a>]
      </li>
      {% endif %}
    </ul>
    {% endif %}

    {{ content }}
  </div>
</div>
